<mat-card class="container">
    <mat-card-header fxLayout="row" fxLayoutAlign="center center">
        <h3>Calculadora Binária</h3>
    </mat-card-header>
    <mat-divider ></mat-divider>

    <mat-card-content>
        <mat-form-field>
            <mat-label>Operador</mat-label>
            <input matInput OnlyOperator="true" maxlength="1" type="tel" [formControl]="operador" (ngModelChange)="calcular()" autocomplete="off">
        </mat-form-field>
        <ng-container >

            <mat-form-field>
                <mat-label>Primeiro Numero</mat-label>
                <input matInput OnlyBinary="true" [formControl]="primeiroNumero"  type="number" (ngModelChange)="calcular()" autocomplete="off">
            </mat-form-field>
            <mat-form-field >
                <mat-label>Segundo Numero</mat-label>
                <input matInput OnlyBinary="true" [formControl]="segundoNumero"   type="number"  (ngModelChange)="calcular()" autocomplete="off">
            </mat-form-field>

        </ng-container>
        <ng-container *ngIf="operador.valid && primeiroNumero.valid && segundoNumero.valid">
            <p>Resultado</p>
            <p class="resultado">{{resultado}}</p>
        </ng-container>
    </mat-card-content>
    <mat-divider></mat-divider>
    <mat-card-actions align="end">
        <button mat-button (click)="limpar()">Limpar</button>
    </mat-card-actions>

</mat-card>