<mat-sidenav-container class="container">
    <mat-sidenav class="sidenav" mode="side" opened fixedInViewport="true" >
        <mat-nav-list class="nav-list">
            <a  routerLink="/" class="menu-flex">
                <mat-icon class="icon">
                    calculate
                </mat-icon>
              
                <span>
                    Binário
                </span>
            </a>

        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">

        <router-outlet>

        </router-outlet>
    
    </mat-sidenav-content>
</mat-sidenav-container>