.container{
    height: 100%;
}
.sidenav{
    background-color: #3f5185;
    width: 80px;
    height: 100%;
    margin-top: 10vh;
    overflow: hidden;
}
.nav-list{
    overflow: hidden;
}
.sidenav a{
    color: #ffffff;
}
.sidenav i{
    padding-right: 10px;
}

.content{
    padding: 16px;
    background-color: #fff;
    margin-bottom: 12vh;
    margin-top: 10vh;
    height: calc(100vh - 28vh);
}
.mat-drawer-inner-container {
    overflow: hidden;
}
.menu-flex{
    display: flex ;
    flex-direction: column ;
    align-items: center;
}

@media (max-width: 600px){
    .sidenav{
     
        width: 70px;
        overflow: hidden;

    }

}